/* Стилі для body */

body {
    font-family:"Roboto", sans-serif;
    font-weight: Regular; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

/* Стилі для header */

.header .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
}

.header .span {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2E2F42;
}

.header .navigation .link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #2E2F42;
}

.header .navigation .link:hover {
    color: #404BBF;
}

.header .navigation .link:focus {
    color: #404BBF;
}

.header .navigation .link:active {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.link-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #434455;
    font-style: normal;
}

.link-address:hover {
    color: #404BBF;
}


.link-address:focus {
    color:#404bbf;
}
/* Стилі для first-section */

.first-section {
    background-color: #2E2F42;;
}

.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Стилі для second-section */

.second-section .features .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.second-section .features .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* Стилі для third-section */

.third-section {
    background-color: #F4F4FD;
}

.third-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
}

.our-team-li {
    background-color: #FFFFFF;
}

.our-team .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color:#2e2f42;
}

.our-team .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Стилі для fourth-section */

.fourth-section-main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:#2e2f42;
}

.fourth-section .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color:#2e2f42;
}

.fourth-section .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color:#434455;
}

/* Стилі для footer */

.footer {
    background-color: #2E2F42;
}

.footer .logo {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-decoration: none;
    text-transform: uppercase;
}

.footer .span {
    color: #F4F4FD;
}

.footer .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}